:root {
    --Color-primary: #27ae60;
    --Color-primary-2: #eb5757;
    --Color-secondary: #03b898;
    
    --White: #FFFFFF;
    --Gray-0: #f5f5f5;
    --Gray-1: #e0e0e0;
    --Gray-2: #BDBDBD;
    --Gray-3: #828282;
    --Gray-4: #333333;


    --Color-Negative: #e60000;
    --Color-Warning: #ffcd07;
    --Color-Sucess: #168821;
    --Color-Information: #155bcb;

    --font-family: "Inter", sans-serif;
}